
/*  DETAILS

colors

#5AA9E6 - darker blue
#7FC8F8 - blue
#F9F9F9 - white
#FFE45E - yellow

font



*/

@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');


* {
    box-sizing: border-box;
}

html, body {
    margin: 0;  
    padding: 0; 
    box-sizing: border-box;
    height: 100%; 
    width: 100%;
    background-color: white;
    position: relative;
    font-family: 'Afacad Flux';


}



header {

    position: relative;
    top: 0;
    right: 0px;
    left: 0px;
    z-index: 2;

    /* background-color: #7FC8F8; */
    width: 100%;
    height: auto;
    padding: 30px 20px;


    font-family: 'Afacad Flux';

}

.logo {
    display:flex;
    align-items: center;
    gap: 6px
}

.logo h1{
    margin: 0;
    font-size: 36px;
    color: #7FC8F8;
}

.logo img{
    width: 24px;
    height: auto;
}

header .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 0 0 20px */
}


header nav a {
    font-size: .95em;
    font-weight: 600;
    margin-left: 15px;
    padding: 5px 8px;

    position: relative;
}

header nav a:not(:last-child):hover:after {
    background-color: aqua;
}

main {
    padding: 30px;
}
